<!--
Account
Below the navbar it will have the current profile picture of the user alongside to right it will
have their followed by their email address below it
Below that is their account info form that automatically enters their current username and email and below
that there is a field that allows for browsing their computer for a new profile picture and finally a button to update it
On these forms fields they will validating that stops the user from updating their values of the username and
email to ones that already exists . The profile picture will have validation on formats that are not jpg or png.
-->
{% extends "base.html" %}
{%block content%}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" alt="Profile Picture" src="{{image_file}}">
            <div class="media-body">
                <h2 class="account-heading">{{current_user.username}}</h2>
                <p class="text-secondary">{{current_user.email}}</p>
            </div>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb4 text-center">Account Info</legend>
                <div class="form-group form-div">
                    
                    {{ form.email.label(class="form-control-label mb-2")}} {% if    
                    form.email.errors %} {{ form.email(class="form-control
                    form-control-lg is-invalid") }}
            
                    <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                    {% else %} {{ form.email(class="form-control form-control-lg")}} {%
                    endif %}
                
                </div>
                <div class="form-group form-div">
                    {{ form.username.label(class="form-control-label mb-2") }} {% if
                    form.username.errors %} {{form.username(class="form-control form-control-lg
                    is-invalid")}}
                
                
                    <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                    {% else %} {{ form.username(class="form-control form-control-lg") }} {%
                    endif %}
                </div>
                <div class="form-group form-div">
                    {{form.profile_picture.label()}}
                    {{form.profile_picture(class="form-control-file")}}
                    {% if form.profile_picture.errors %}
                        {%for error in form.profile_picture.errors%}
                            <span class="text-danger">{{ error }}</span><br>
                        {%endfor%}
                    {%endif%}
                </div>
            </fieldset>
            <div class="form-group text-center m-4">
                {{  form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
    </div>
{%endblock content%}