
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Privacy App - {{ title }}</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
       integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <header>
    <nav class="navbar navbar-expand-lg" id="navbarstyles">
        <div class="container-fluid" >
            <a class="navbar-brand" id="navbarstyles" href="/">Privacy App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.path == url_for("home")%}
                    <li class="nav-item navbar-brand font-weight-bold text-decoration-underline on-page">
                        <a class="nav-link on-page" href={{ url_for("home")}}>Home</a>
                    </li>
                {% else %}
                    <li class="nav-item navbar-brand" >
                        <a class="nav-link" id="navbarstyles" href={{ url_for("home")}}>Home</a>
                {% endif %}
                </li>
                {% if current_user.is_authenticated %}
                    {% if request.path == url_for("email_mask")%}
                        <li class="nav-item navbar-brand font-weight-bold text-decoration-underline on-page">
                            <a class="nav-link on-page" href={{ url_for("email_mask")}}>Email Mask</a>
                        </li>
                    {% else %}
                        <li class="nav-item navbar-brand">
                            <a class="nav-link" id="navbarstyles" href={{ url_for("email_mask")}}>Email Mask</a>
                    {% endif %}
                {%endif%}

                </ul>
            </div>
                <div class="navbar-nav">  
            {% if current_user.is_authenticated %}
            
                {% if request.path == url_for("account")%}
                    <li class="nav-item navbar-brand font-weight-bold text-decoration-underline on-page">
                        <a class="nav-link on-page" href={{ url_for("account")}}>{{current_user.username}}</a>
                    </li>
                {% else %}
                    <li class="nav-item navbar-brand">
                        <a class="nav-link" id="navbarstyles" href={{ url_for("account")}}>{{current_user.username}}</a>
                {% endif %}
                    <li class="nav-item navbar-brand font-weight-bold">
                        <a class=" nav-link" id="navbarstyles" href="{{ url_for('logout')}}">Logout</a>
                    </li>        
                        
            
            {% else %}
            
            {% if request.path == url_for("login")%}
                <li class="nav-item navbar-brand font-weight-bold text-decoration-underline on-page">
                    <a class="nav-link on-page" href={{ url_for("login")}}>Login</a>
                </li>
            {% else %}
                <li class="nav-item navbar-brand">
                    <a class="nav-link "id="navbarstyles"  href={{ url_for("login")}}>Login</a>
            {% endif %}
                
            
            {% if request.path == url_for("register")%}
                <li class="nav-item navbar-brand font-weight-bold text-decoration-underline on-page">
                    <a class="nav-link on-page" href={{ url_for("register")}}>Register</a>
                </li>
            {% else %}
                <li class="nav-item navbar-brand">
                    <a class="nav-link " id="navbarstyles" href={{ url_for("register")}}>Register</a>
            {% endif %}

            {% endif %}
                </div>
    </div>
    </nav>
    </header>
    <main>
        <div class="row">
            <div>
                {%with messages = get_flashed_messages(with_categories=true)%}
                {%if messages%}
                    {%for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        {{message}}
                    </div>
                    {%endfor %}
                    {%endif%}
                    {%endwith%}
                    {% block content %}

                    {% endblock content %}
            </div>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    </body>
    </html>