{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb4 text-center">Protect Your Privacy Today</legend>
                <div class="form-group form-div">
                    {{ form.hidden_tag() }}
                    {{ form.mask.label(class="form-control-label mb-2")}} {% if
                    form.mask.errors %} {{ form.mask(class="form-control
                    form-control-lg is-invalid") }}
            
                    <div class="invalid-feedback">
                    {% for error in form.mask.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                    {% else %} {{ form.mask(class="form-control form-control-lg")}} {%
                    endif %}
                    
                    <div class="form-group text-center m-4">
                        {{  form.submit(class="btn btn-outline-info")}}
                    </div>
            </div>
                
        </form>
        
    </div>
    <div class="form-group text-center m-4">
        <a href="{{url_for("email_mask")}}"><button class="btn btn-outline-info">Go Back</button></a>
    </div>
{%endblock content %}