
 {% extends "base.html" %}
 {% block content %}
    
    <h1 class="text-center mb-4 text-success">Your Email Masks</h1>
    <ul class="list-group">
        {%for mask in user.masks%}
        <li class="list-group-item list-group-item-primary text-center mb-4">
            {{mask.content}}
        </li>
        {%endfor%}
    </ul>
    <div class="form-group text-center m-4">
        <a href="{{url_for("create_mask")}}">
            <button class="btn btn-outline-info">Click Here to Create An Email Mask</button>
        </a>
    </div>   
{% endblock content %}