<!-- Home Page
The Home element button on the navbar will be underlined and highlighted to signify you are on this page
It will contain general information about the app -->
{% extends "base.html" %}

{%block content%}

<div class="content-section">
    <h1 class="text-success">
        Information About The App
    </h1>
    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ex temporibus repudiandae voluptatem at dicta, odio alias unde minima, itaque est error inventore 
        optio facere eveniet sunt voluptatibus suscipit. Ratione. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem et iste corporis, ipsam, eveniet
        quia aliquid fugit deleniti magnam tenetur voluptas animi sit in error delectus rem harum consequuntur laboriosam?</p>
    
    <h2 class="text-success">Information About Email Masks</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda amet tempore quos culpa magnam nobis laboriosam suscipit harum officia repellendus quibusdam 
        voluptas maxime eaque, omnis, et maiores ab tempora. Voluptas?Corrupti dolore quaerat rerum accusantium ab iste expedita vitae illum fuga. Vitae sed at
        consequuntur recusandae nisi ex neque modi sint earum quas quidem ipsam quasi facilis, et repudiandae odit.</p>
</div>

{%endblock content%}