{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb4 text-center">Protect Your Privacy Today</legend>
                <div class="form-group form-div">
                    {{ form.hidden_tag() }}
                    {{ form.email.label(class="form-control-label mb-2")}} {% if
                    form.email.errors %} {{ form.email(class="form-control
                    form-control-lg is-invalid") }}
            
                    <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                    {% else %} {{ form.email(class="form-control form-control-lg")}} {%
                    endif %}
                
                </div>
                <div class="form-group form-div">
                    {{ form.password.label(class="form-control-label mb-2") }} {% if
                    form.password.errors %} {{form.password(class="form-control form-control-lg
                    is-invalid")}}
                
                
                    <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                    {% else %} {{ form.password(class="form-control form-control-lg") }} {%
                    endif %}
                </div>
            </fieldset>
            <div class="form-group text-center m-4">
                {{  form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
{% endblock content %}