
{% extends "base.html" %} {% block content %}
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }} <!--Creates the CSRF token-->
      <fieldset class="form-group">
        <legend class="border-bottom mb4 text-center">
          Protect Your Privacy Today
        </legend>
        
        <div class="form-group form-div">
          {{ form.email.label(class="form-control-label mb-2")}} {% if
          form.email.errors %} {{ form.email(class="form-control
          form-control-lg is-invalid") }}
        
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.email(class="form-control form-control-lg")}} {%
          endif %}
        
        </div>
        
        <div class="form-group form-div">
          {{ form.username.label(class="form-control-label mb-2")}} {% if
          form.username.errors %} {{ form.username(class="form-control
          form-control-lg is-invalid") }}
        
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.username(class="form-control form-control-lg")}} {%
          endif %}
        
        </div>
        
        
        <div class="form-group form-div">
          {{ form.password.label(class="form-control-label mb-2") }} {% if
          form.password.errors %} {{form.password(class="form-control form-control-lg
          is-invalid")}}
        
        
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.password(class="form-control form-control-lg") }} {%
          endif %}
        </div>
        
        
        <div class="form-group form-div">
          {{ form.confirm_password.label(class="form-control-label mb-2") }} {% if
            form.confirm_password.errors %} {{form.confirm_password(class="form-control form-control-lg
            is-invalid")}}
          
          
          <div class="invalid-feedback">
            {% for error in form.confirm_password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.confirm_password(class="form-control
          form-control-lg") }} {% endif %}
        </div>
      </fieldset>
      
      
      <div class="form-group text-center m-4">
        {{ form.submit(class="btn btn-outline-info ")}}
      </div>
      </form>
      
      <div class="border-top pt-3 text-center">
        <small class="text-muted">
          Already Have An Account?
          <a class="ml-2 small-sign-up"  href="{{ url_for('login')}}"
            >Click Here to Sign In Now</a
          >
        </small>
      </div>
    
  </div>

{% endblock content %}
