.content-section {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(98, 170, 15) 35%, rgba(0,212,255,1) 100%); 
  color: rgb(236, 174, 4);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px;
}
body {
  background: linear-gradient(to right, #434343 0%, black 100%);
}

#navbarstyles {
  background-color: #2c3539;
  color: #e5e4e2;
}

.button-text {
  color: #ffffff;
}

a {
  text-decoration: none;
}

.on-page {
  color: #008080;
  text-decoration: underline;
  text-decoration-color: #008080;
}

.small-sign-up {
  display: block;
  margin-top: 8px;
}


.form-div {
  margin: 10 0px;
  text-align: center;
  font-size: 22px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}